@model Roflan.Models.RegisterListViewModel
@using Roflan.Areas.Administration.Helpers
@{
    ViewBag.Title = "UsersTable";
}
@{
    /**/

    ViewBag.Title = "List";
}

@Html.Partial("UsersTable", Model.RegisterList)
@Html.Partial("_DeletePopUp")

<br />
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x }))
            </div>
        </div>
        <div class="col-md-2">
            <a href="#" data-toggle="modal" data-userId="@Model.RegisterList" class="btn btn-danger delUser">Delete Selected</a>
        </div>

    </div>
</div>

@section scripts
    {
    <script>
        $(".delUser").on("click", function () {

            $('#myModal').modal('show');

            var del = $("#deleteYes");


            del.on("click", function () {

                $(".checkUser").each(function () {
                    var idDelete = 0;

                    if ($(this).is(':checked')) {
                        idDelete = $(this).attr('data-id');
                        var model = { UserId: idDelete };
                        

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "General", new { area = "Administration"})',
                    data: model,
                    cache: false,
                    success: function () {
                       
                    }
                        });
                var whichtr = $(this).closest("tr");
                whichtr.remove();
                    }

            });

            $('#myModal').modal('toggle');
            });
        })
    </script>

    <script>
        $("#SelectAll").on("click", function () {
            //$('#myModal').modal('show');
            $(".checkUser").each(function () {
                //alert("yyy");
                if ($("#SelectAll").prop('checked') == true) {
                    $(this).prop('checked', true);
                }
                else {
                    $(this).prop('checked', false);
                }

            });

        })
    </script>
}
